@use "../abstracts/" as *;

.about {
  color: $color-off-white;
  background-color: $color-main-red;
  padding-top: rem(80);
  padding-bottom: rem(120);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  &__container {
    @include breakpoint("medium") {
      margin: 0 auto;
      max-width: $size__content-max-width;
    }
  }

  &__subtitle {
    @extend %text-style-heading-2;
    padding-bottom: rem(42);
    line-height: 1;
  }

  &__description {
    @extend %text-style-paragraph-1;

    p:first-child {
      padding-bottom: rem(32);
    }
  }

  &__reports {
    &__title {
      @extend %text-style-ui-5-bold-caps;
      margin-top: rem(42);
      margin-bottom: rem(8);
    }

    ul {
      padding: 0;
      margin-top: 0;

      li {
        margin-bottom: rem(8);
        line-height: 1.2;

        &:last-child {
          margin-bottom: rem(42);
        }
      }
    }

    &__link {
      @extend %text-style-ui-2;
      color: $color-light-yellow;
      text-decoration: none;

      &--back-top {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @extend %text-style-ui-3;
      }

      .icon-container {
        margin-left: rem(4);
        fill: $color-light-yellow;
      }

      &:hover {
        color: $color-dark-yellow;
        transition: $transition__link;

        .icon-container {
          fill: $color-dark-yellow;
          transition: $transition__link;
        }
      }

      &:focus {
        color: $color-main-red;
        background-color: $color-off-white;
        outline: 0;

        .icon-container {
          fill: $color-main-red;
        }
      }

      &:visited {
        color: $color-dark-yellow;

        .icon-container {
          fill: $color-dark-yellow;
        }
      }
    }
  }

  &__development {
    margin-top: rem(42);
    margin-bottom: rem(8);

    &__title {
      @extend %text-style-heading-4;
      margin-bottom: rem(12);
    }

    &__description {
      @extend %text-style-paragraph-2;
    }

    p:not(:last-child) {
      margin-bottom: rem(24);
    }

    &__link {
      color: $color-light-yellow;
      text-decoration: none;

      &:hover {
        color: $color-dark-yellow;
        transition: $transition__link;
      }

      &:focus {
        color: $color-main-red;
        background-color: $color-off-white;
        outline: 0;
      }
    }
  }

  .back-top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;

    a {
      text-decoration: none;
    }

    &__link {
      @extend %text-style-ui-3;
      color: $color-light-yellow;

      .back-top__icon-container {
        fill: $color-light-yellow;
        transition: $transition__link;
      }

      &:hover {
        color: $color-dark-yellow;
        transition: $transition__link;

        .back-top__icon-container {
          fill: $color-dark-yellow;
          transition: $transition__link;
        }
      }

      &:focus {
        color: $color-main-red;
        background-color: $color-off-white;
        outline: 0;

        .back-top__icon-container {
          filter: invert(22%) sepia(54%) saturate(2858%) hue-rotate(194deg)
            brightness(92%) contrast(101%);
          transition: $transition__link;
        }
      }

      &:visited {
        color: $color-dark-yellow;

        .back-top__icon-container {
          fill: $color-dark-yellow;
        }
      }
    }

    &__icon-container {
      position: relative;
      margin-left: rem(4);
      top: rem(2);
    }
  }
}
