@use "../abstracts/" as *;

:root {
  --scrollbar: var(--scrollbarX, 0);
  --scrollbarHalf: calc(var(--scrollbar) / 2);
  --logo-width: 120px;
  --logo-height: 32px;
  --logo-color: #{$color-text-gray-300};
  --site-header-height: #{rem(0)};
  --container-padding: #{6vw};

  @include breakpoint("large") {
    --logo-width: 175px;
    --logo-height: 48px;
    // --site-header-height: #{rem(56)};
  }

  &::-webkit-scrollbar {
    width: rem(10);
    height: rem(10);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px $color-background-white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 9px $color-dark-yellow;
  }
}

// TODO Update focus color when components are completed
*:focus {
  // outline: 2px solid $color-link-primary-200;
}

body {
  padding: 0;
  background-color: $color-main-red;
}

.container {
  $padding: (
    "small": 24,
    "large": 48,
    "xlarge": 64,
  );

  position: relative;
  max-width: $size__container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);

  /* This will keep the footer positioned at the bottom of the page, no matter the amount of content we have. From: https://moderncss.dev/keep-the-footer-at-the-bottom-flexbox-vs-grid/ */
  &--main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

#site-content {
  margin-top: var(--site-header-height);
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &:not(:disabled):active,
  &:active {
    background-color: transparent;
  }
}
