@use "../abstracts/" as *;

.footer {
  @extend %text-style-paragraph-2;
  color: $color-light-yellow;
  padding-top: rem(48);
  padding-bottom: rem(32);
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  background-color: $color-main-red;
  border-top: 1px solid $color-light-red;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "logo"
    "desc"
    "social"
    "address"
    "copyright";

  @include breakpoint("medium") {
    grid-template-areas:
      "logo logo"
      "desc social"
      "desc address"
      "copyright copyright";
    grid-template-columns: 2fr 1fr;
    padding-top: rem(56);
  }

  &::before {
    content: "";
    position: absolute;
    left: calc((100vw - 100%) / -2);
    z-index: -1;
    display: block;
    @include vw100;
    height: 100%;
    background-color: $color-background-gray-100;
  }

  a {
    color: $color-light-yellow;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-dark-yellow;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  &__logo {
    grid-area: logo;
    margin-bottom: rem(24);

    a {
      color: $color-light-yellow;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-dark-yellow;
        text-decoration: none;
      }

      &:focus {
        outline: 3px solid $color-focus-outline;
      }
    }
  }

  &__desc {
    grid-area: desc;
    max-width: $size__content-max-width;
    margin-bottom: rem(40);

    @include breakpoint("medium") {
      margin-bottom: 0;
      margin-right: rem(64);
    }
  }

  &__address {
    grid-area: address;
    color: $color-light-yellow;
    margin-top: rem(11);
    font-style: normal;

    @include breakpoint("medium") {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
  }

  &__social {
    grid-area: social;
    margin-left: -10px;
    margin-bottom: rem(8);

    @include breakpoint("medium") {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
    }

    a {
      color: $color-light-yellow;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-dark-yellow;
        text-decoration: none;
      }
    }
  }

  &__copyright {
    grid-area: copyright;
    color: $color-light-yellow;
    @extend %text-style-ui-4;
    margin-top: rem(32);

    @include breakpoint("medium") {
      margin-top: rem(24);
    }
  }

  &__privacy-pol {
    @extend %text-style-ui-4-underline;
    color: $color-light-yellow;

    &:focus {
      text-decoration: none;
      outline: 3px solid $color-focus-outline;
    }
  }
}
